#bolas {
    height: 400px;
    width: 500px;
    border: 1px solid black;
}

#bolas div{
    overflow: hidden;
}

#bolas p{

}


.bola_grande{
    width: 130%;
    height: 130%;
    margin-left: -17%;
    margin-top: -17%;
}

.bola_pequena {
    width: 130%;
    height: 130%;
    margin-left: -17%;
    margin-top: -17%;
}

#bola1 {
    height: 140px;
    width: 140px;
    position: fixed;
    margin: 140px 0 0 120px;
    border-radius: 100%;
}

#bola2 {
    height: 120px;
    width: 120px;
    position: fixed;
    margin: 50px 0 0 50px;
    border-radius: 100%;
    background-color: #FF5733;
}

#bola3 {
    height: 120px;
    width: 120px;
    position: fixed;
    margin: 195px 0 0 250px;
    border-radius: 100%;
}

#bola4 {
    height: 120px;
    width: 120px;
    position: fixed;
    margin: 113px 0 0 322px;
    border-radius: 100%;
    background-color: #67C13B;
}

#bola5 {
    height: 120px;
    width: 120px;
    position: fixed;
    margin: 250px 0 0 70px;
    border-radius: 100%;
    background-color: #0B6625;
}