*{
    font-size: 12px;
}
#panel_front {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
#panel_back {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
#panel_other {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

#info, #aptituts{
    margin-top: 40px;
}
#front, #back, #other {
    cursor: pointer;
}
#exp_laboral, #form_general, #idiomes {
  margin-top: 10px;
}

#image_aptituts img{
  height: 80px;
  width: 80px;
  margin-top: 10px;
}
#C {
  margin-left: 50px;
}
#python{
  margin-left: 50px;
}

#bash {
  margin-left: 50px;
  margin-top: 30px;
}

#image_aptituts img:last-child{
  height: 80px;
  width: auto;
}

#image_aptituts_back img{
  height: 100px;
  width: 100px;
}

#image_aptituts_other img{
  height: 80px;
  width: 80px;
  margin: auto;
}

#xml{
  height: 40px !important;
  width: auto !important;
}
#active{
  height: 80px !important;
  width: auto !important;
}
#image_aptituts_other{
  display: flex;
  lign-items: center;
}
#image_aptituts_back img:first-child{
  height: 100px;
  width: auto;
}
#jquery{
  margin-left: 15px;
}
#react, #bootstrap{
  margin-left: 30px;
  margin-top: 10px;
}
#experiencies_general{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#formacio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_experience {
  margin-top: 15px;
}

#lluis_vives{
  width: 50%;
  height: auto;
  margin-top: 23px;
  margin-left: 35px;
  }

th {
	width: 109px !important;
}
